body {
  background-image: url('./background.png');
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Dosis', sans-serif;
}
.App {
  text-align: center;
  justify-content: center;
  display: grid;
}

h1 {
  margin-bottom: 5vh;
  font-size: 8vh;
}

.main {
  margin-top: 15vh;
  background-color: white;
  border-radius: 3%;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.show-clicked {
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 4vh;
}

.numbers-container {
  display: grid;
  grid-template-columns: 9vh 9vh 9vh 9vh;
  grid-gap: 0.5vw;
  grid-template-rows: 5vw 5vw 5vw 5vw 5vw;
  padding: 0vh 0.5vw 1vh 0.5vw;
  font-size: 2.8vh;
}

.number {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;

  border: #dae4e0 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
  text-decoration: none;
  background: none;
  font-size: 3vh;
}

.number:hover {
  /* font-weight: bolder; */
  background-color: honeydew;
  border: grey solid 1px;
}

#item15 {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 4;
}

#item16 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.symbols-container {
  display: grid;
  grid-template-columns: 6.1vh 6.1vh 6.1vh 6.1vh;
  grid-gap: 0.5vh;
  grid-template-rows: 4vw;
}

.symbol {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
