body {
  background-image: url('./background.png');
  /* height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App {
  text-align: center;
  justify-content: center;
  display: grid;
}

h1 {
  margin-bottom: 5vh;
}

.main {
  background-color: white;
}

.show-clicked {
  /* height: 6vh; */
  padding-top: 3vh;
  padding-bottom: 3vh;

  /* background-color: blanchedalmond; */
}

.numbers-container {
  display: grid;
  grid-template-columns: 8vh 8vh 8vh 8vh;
  grid-gap: 0.5vw;
  grid-template-rows: 4vw 4vw 4vw 4vw 4vw;
}

.number {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#item15 {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 4;
}

#item16 {
  grid-column-start: 3;
  grid-column-end: 5;
}
.symbols-container {
  display: grid;
  grid-template-columns: 6.1vh 6.1vh 6.1vh 6.1vh;
  grid-gap: 0.5vh;
  grid-template-rows: 4vw;
}

.symbol {
  border: black solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
